<my-dialog-header 
  (dismissEvent)="dismiss()"
  [title]="title"
></my-dialog-header>
<div class="modal-body">
	<p>{{ subtitle }}</p>
	<div *ngFor="let select of selections | keyvalue"
		class="form-check"
	>
		<input class="form-check-input" 
			type="radio" 
			name="flexRadioDefault" 
			[checked]="dialog.selected == select.key"
			[value]="select.key"
			[(ngModel)]="dialog.selected"
		>
		<label class="form-check-label" 
			(click)="dialog.selected = select.key"
		>
			{{select.value}}
		</label>
  </div>
</div>
<p></p>
<my-dialog-footer
    (dismissEvent)="dismiss()"
    (closeEvent)="close()"
></my-dialog-footer>
  