
<ul #contextMenuRef
  [class.show]="!menu.context.hide"
  [style]="menu.context.style"
  class="dropdown-menu">
  <li>
    <a role="button"
      class="dropdown-item"
      [class.disabled]="selectids.length > 1"
      (click)="renameFileEmit()"
    > Rename </a>
  </li>
  <li>
    <a role="button"
      class="dropdown-item"
      (click)="deleteFileEmit()"
    > Delete </a>
  </li>
    <li #buttonMove>
    <a role="button"
      class = "dropdown-item"
      (mouseover)="openMenu(buttonMove, menu.move)"
      (mouseout)="menu.move.hide = true"
    > Move To ></a>
  </li>  
  <li><a  role="button" class="dropdown-item" href="#">Another link</a></li>
</ul> 


<ul #menuMoveFileRef
  class="dropdown-menu"
  [class.show]="!menu.move.hide"
  [style]="menu.move.style"
  (mouseout)="menu.move.hide = true"
  (mouseover)="menu.move.hide = false"
>

  <cdk-virtual-scroll-viewport itemSize="10"  style="height: 500px">
    <li *cdkVirtualFor="let file of files" >
      <a *ngIf="file.isFolder && selectids[0] !== file.id" 
        role="button"
        class="dropdown-item"
        (click)="moveFilesEmit(file.id!)"
      > {{ file.name }}</a>
    </li>
  </cdk-virtual-scroll-viewport>
</ul>  