

<div>
  <div style="display:inline-flex"
    class="pointer" 
    *ngFor="let folder of navFoldersReact"
    (click)="openFileEmit(folder.id!)" 
  >
    {{ folder.name }} // 
  </div>

   <div
    class="pointer" 
    (click)="dialogAddFolder()">
   CREATE
  </div>
</div>

<!-- <ng-container #fileContainerRef> </ng-container> -->


<!-- <div *ngIf="filesReact as filesObs"> -->
<!--  <ng-template #fileTemplateRef > -->
  <cdk-virtual-scroll-viewport itemSize="50"  style="height: 400px">
    <div *cdkVirtualFor="let file of filesReact" 
      (dblclick)="openFileEmit(file.id)"
      (contextmenu)="openMenuContext($event, file.id)"
    >   
      <svg
        width="5%" 
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 512 512"
      > 
        <path [attr.d]="mysvg.folder.d"/>
      </svg>
      <span  >{{file.name}} </span>
    </div>
  </cdk-virtual-scroll-viewport>
<!-- </ng-template> -->


  <ul #contextMenuRef
    [class.show]="!menu.context.hide"
    [style.top]="menu.context.top"
    [style.left]="menu.context.left"
    [className]="'dropdown-menu'">
    <li>
      <a role="button"
        [innerHTML]="'Rename'"
        [class.disabled]="selectedIds.length > 1"
        [className]="'dropdown-item'"
        (click)="dialogRenameFile()"
      > </a>
    </li>
    <li>
      <a role="button"
        [innerHTML]="'Delete'"
        [className]="'dropdown-item'"
        (click)="deleteFileEmit()"
      ></a>
    </li>
      <li #buttonMoveFiles>
      <a role="button"
        [innerHTML] = "'Move To >'"
        [className] = "'dropdown-item'"
        (mouseover)="openMenuMove($event, buttonMoveFiles)"
        (mouseout)="menu.move.hide = true"
      ></a>
    </li>  
    <li><a  role="button" class="dropdown-item" href="#">Another link</a></li>
  </ul> 


  <ul #menuMoveFileRef
    [class.show]="!menu.move.hide"
    [style.top]="menu.move.top"
    [style.left]="menu.move.left"
    [className]="'dropdown-menu'"
    (mouseout)="menu.move.hide = true"
    (mouseover)="menu.move.hide = false"
  >
    <cdk-virtual-scroll-viewport itemSize="10"  style="height: 500px">
      <li *cdkVirtualFor="let file of filesReact" >
        <a *ngIf="file.isFolder && selectedIds[0] !== file.id" 
          role="button"
          [innerHTML]="file.name"
          [className]="'dropdown-item'"
          (click)="moveFilesEmit(file.id!)"
        ></a>
      </li>
    </cdk-virtual-scroll-viewport>
  </ul>  
<!-- </div> -->




