

<div style=" height: 100%; box-sizing: border-box;">
    <mat-card style="height: 100%; box-sizing: border-box; padding:0">
      <my-file-explorer #fileLocal

        [fileListReact]="fileList"
        [navFoldersReact]="navFolders"
        [selectedFilesReact]="selectedFiles"
        (addFolderEvent)="addFolder($event)"
        (deleteFileEvent)="deleteFiles()"
        (renameFileEvent)="renameFile($event)"
        (openFileEvent)="openFile($event)"
        (openFolderEvent)="openFolder($event)"
        (moveFileEvent)="moveFile($event)" 
        (selectFilesEvent)="selectFiles($event)" 
        
        >
      </my-file-explorer>
    </mat-card>
  </div>


