<div style=" height: 100%; box-sizing: border-box;">
    <mat-card style="height: 100%; box-sizing: border-box; padding:0">
      <file-explorer
        [fileListReact]="fileList"
        [navFoldersReact]="navFolders"
        (addFolderEvent)="addFolder($event)"
        (deleteFileEvent)="deleteFile($event)"
        (renameFileEvent)="renameFile($event)"
        (navigateFolderEvent)="openFolder($event)"
        (openFileEvent)="openFileById($event)"
        (moveFileEvent)="moveFile($event)" 
        >
      </file-explorer>
    </mat-card>
  </div>


