<div class="modal-header">
  <h5 class="modal-title">{{dialog!.title}}</h5>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>
</div>
<form [formGroup]="form">
  <div class="modal-body">
    <div>
      <input type="text"
        class="form-control" 
        formControlName="myinput"
        ngbAutofocus
      />
    </div>
    <p></p>
    <div style="height:30px">
      <div *ngIf="form.dirty && myinput.errors?.['required']"
        class="alert alert-danger"
        role="alert">
        <span>  Please Provide a name !</span>
      </div>
      <div *ngIf="myinput.errors?.['fileExist']"
        class="alert alert-danger"
        role="alert" >
        <span> File already exists ! </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"  (click)="dismiss()">Close</button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!form.valid"
      (click)="save();">Save changes</button>
  </div>
</form>
