<div style=" height: 100%; box-sizing: border-box;">
    <mat-card style="height: 100%; box-sizing: border-box; padding:0">
      <my-file-explorer
        [fileListReact]="fileList"
        [navFoldersReact]="navFolders"
        [fileListReact]="fileList"
        (addFolderEvent)="addFolder($event)"
        (openFileEvent)="openFile($event)"
        (openFolderEvent)="openFolder($event)"
        (deleteFileEvent)="deleteFiles()"
        (renameFileEvent)="renameFile($event)"
        (selectFilesEvent)="selectFiles($event)"
      >
      </my-file-explorer>
    </mat-card>
  </div>